            /*<![CDATA[*/
            body::-webkit-scrollbar {
              width: 12px;                  /* width of the entire scrollbar */
              height: 12px;
          }

          body::-webkit-scrollbar-track {
              background: #212121;          /* color of the tracking area */
          }

          body::-webkit-scrollbar-thumb {
              background-color: #43453B;    /* color of the scroll thumb */
              border-radius: 30px;          /* roundness of the scroll thumb */
              border: 1px solid #212121;    /* creates padding around scroll thumb */
          }

          body::-webkit-scrollbar-corner {
              background-color: #212121;
          }

          body {
              background-color: #212121;
              color: #666666;
              font-size: 0.9em;
              font-family:    Verdana, Arial, Helvetica, Open Sans, sans-serif;
              margin: 0;
              padding: 0;
          }
          ::-moz-selection { /* Code for Firefox */
              color: #212121;
              background: #43453B;
          }
          ::selection {
              color: #212121;
              background: #43453B;
          }
          a:link {
              color: #b57614;
          }
          a:visited {
              color: #b57614;
          }
          a:hover {
              color: #d79921;
          }
          h1 {
              text-align: center;
              margin: 0;
              padding: 0.6em 2em 0.4em;
              background-color: #212121;
              color: #666666;
              font-weight: normal;
              font-size: 1.75em;
              border-bottom: 2px solid #43453B;
          }
          h1 strong {
              font-weight: normal;
              font-size: 1.5em;
          }
          h2 {
              text-align: center;
              background-color: #212121;
              font-size: 1.1em;
              font-weight: bold;
              color: #666666;
              margin: 0;
              padding: 0.5em;
              border-bottom: 2px solid #43453B;
          }
          h5 {
              text-align: center;
              background-color: #212121;
              margin: 0;
              border-bottom: 2px solid #43453B;
          }
          hr {
              display: none;
          }
          .content {
              padding: 1em 5em;
          }
          .alert {
              border: 2px solid #43453B;
          }

          img {
              border: 2px solid #666666;
              padding: 2px;
              margin: 2px;
          }
          a:hover img {
              border: 2px solid #43453B;
          }
          .logos {
              margin: 1em;
              text-align: center;
          }
          a {
              text-decoration: none;
          }
          a.point {
              text-decoration: none;
              color: #666666;
          }
          a.sec {
              text-decoration: none;
              color: #666666;
          }
          a.ssh-link {
              color: slateblue;
          }
          a.ssh-link:hover {
              color: #d79921;
          }
          .copyleft {
              position: relative;
              top: -5px;
              display:inline-block;
              transform: rotate(180deg);
          }

          audio {
              filter: sepia(20%) saturate(70%) grayscale(1) contrast(99%) invert(12%);
              width: 300px;
              height: 25px;
          }
          .steelBlue {
            color: steelblue;
        }
        .tomato {
            color: tomato;
        }
        .select-all-container {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            margin-top: 5px;
            margin-bottom: 5px;
        }
        .select-all-container label {
            margin-right: 5px;
        }
        div {
            display: inline-block;
            margin-right: 15px;
        }
        input[type="checkbox"] {
            margin-left: 15px;
        }
        label {
            margin-right: 0px;
        }
        table {
            text-align: left;
            margin-bottom: 20px;
            margin-left: -5px;
            border-collapse: collapse;
        }
        th {
            padding: 15px;
            padding-bottom: 1px;
            border: 0px solid black;
            text-align: left;
            color: SteelBlue;
            font-weight: bold;
            font-family: monospace;
            font-size: 19px;
        }
        td {
            padding: 15px;
            border: 0px solid black;
            text-align: left;
            font-family: monospace;
            font-size: 17px;
        }
        td {
            padding-top: 5px;
            padding-bottom: 10px;
        }
        form {
            margin-top: 10px;
        }
        fieldset {
            margin-bottom: 10px;
        }
        legend {
            cursor: pointer;
            padding: 5px;
            border: 1px solid #ccc;
        }
        .hidden {
            display: none;
        }
        #status {
            font-family: 'Courier New', Courier, monospace;
            font-size: 15px;
            color: green;
        }
          /*]]>*/
