body,html{
    height: 100%;
}
.sourcelabel {
font-size: 11px;
fill: #8d092a;
}
.targetlabel {
font-size: 11px;
fill: #8d092a;
}
.missing-link {
    stroke: #FF0000 !important;  /* Force the color */
    stroke-width: 2px;
    stroke-dasharray: 4;
}
.fail-link {
    stroke: #FFED29 !important;  /* Force the color */
    stroke-width: 2px;
    stroke-dasharray: 4;
}
